html
  head
    title= title
  body
    h1= message
    form(method='POST' action='/api/genres')
     div.form-group
       label(for='name') Genre:
       input#name.form-control(type='text', placeholder='Add Genre...')
       button.btn.btn-primary(type='submit') Add Genre
